extends ../layout

block content
    h1 Criterio: #{criteria.criteria_name}
    
    p ID: #{criteria.criteria_id}
    p Nombre: #{criteria.criteria_name}
    
    a(href="/criteria") ← Volver a la lista