doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel="stylesheet", href="/styles.css")
        block styles
    body
        header
            include navbar
        main
            block content
                h1 Bienvenidos a Rubrika
                p Esta aplicación le permitirá gestionar sus tareas etc etc.