nav.navcontainer
    block navbar
        div.left 
            a(href="#") Inicio
        div.center
            a(href="#") Tareas
            a(href="#") Entregas
            a(href="#") Correcciones
        div.right
            a(href="#") Usuario