nav.navcontainer
    block navbar
        div.left 
            a(href="/") Inicio
        div.center
            a(href="/tasks") Tareas
            a(href="/projects") Proyectos
            a(href="/evaluations") Evaluaciones
        div.right
        if user
            span ¡Hola, #{user.name}!
            a(href="/logout") Cerrar sesión
        else
            a(href="/login") Login